service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- <definitions> must be the root of the WSDL document -->
<wsdl:definitions targetNamespace="http://tempuri.org/"
  xmlns:s="http://www.w3.org/2001/XMLSchema"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:tns="http://tempuri.org/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <!-- WSDL TYPES: definition of the data types that are used in the web service -->
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Result">


        <s:element name="Header">
          <s:complexType>
            <s:sequence>

              <s:element minOccurs="1" maxOccurs="1" name="res:ServiceType" type="s:string"/>
              <s:element minOccurs="1" maxOccurs="1" name="res:Version" type="s:string"/>
              <s:element minOccurs="1" maxOccurs="1" name="res:OriginatorConversationID" type="s:string"/>
              <s:element minOccurs="1" maxOccurs="1" name="res:ConversationID" type="s:string"/>
            </s:sequence>
          </s:complexType>
        </s:element>


        <s:element name="Body">
          <s:complexType>
            <s:sequence>

              <s:element minOccurs="1" maxOccurs="1" name="res:ResultType" type="s:integer"/>
              <s:element minOccurs="1" maxOccurs="1" name="res:ResultCode" type="s:integer"/>
              <s:element minOccurs="1" maxOccurs="1" name="res:ResultDesc" type="s:string"/>

              <s:element name="TransactionResult">
                <s:complexType>
                  <s:sequence>

                    <s:element minOccurs="1" maxOccurs="1" name="res:TransactionID" type="s:string"/>

                    <s:element name="ResultParameters">
                      <s:complexType>
                        <s:sequence>
                          <s:element name="ResultParameter">
                            <s:complexType>
                              <s:sequence>

                                <s:element minOccurs="1" maxOccurs="1" name="com:Key" type="s:string"/>
                                <s:element minOccurs="1" maxOccurs="1" name="com:Value" type="s:string"/>
                              </s:sequence>
                            </s:complexType>
                          </s:element>

                          <s:element name="ResultParameter">
                            <s:complexType>
                              <s:sequence>

                                <s:element minOccurs="1" maxOccurs="1" name="com:Key" type="s:string"/>
                                <s:element minOccurs="1" maxOccurs="1" name="com:Value" type="s:string"/>
                              </s:sequence>
                            </s:complexType>
                          </s:element>

                        </s:sequence>
                      </s:complexType>
                    </s:element>



                    <s:element minOccurs="1" maxOccurs="1" name="res:OriginatorConversationID" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="res:ConversationID" type="s:string"/>
                  </s:sequence>
                </s:complexType>
              </s:element>

            </s:sequence>
          </s:complexType>
        </s:element>

        
      </s:element>






      <s:element name="TransactionResult">

        <s:complexType>
          <s:sequence>



            <s:element minOccurs="1" maxOccurs="unbounded" name="status" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="res:OriginatorConversationID" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="res:ResultType" type="s:integer"/>
            <s:element minOccurs="1" maxOccurs="1" name="res:ResultCode" type="s:integer"/>
            <s:element minOccurs="1" maxOccurs="1" name="res:ResultDesc" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="res:TransactionID" type="s:string"/>


          </s:sequence>

        </s:complexType>











      </s:element>
    </s:schema>
  </wsdl:types>
  <!-- MESSAGES: defines the data being exchanged between the service and client -->
  <wsdl:message name="ResultApiSoapIn">
    <wsdl:part name="parameters" element="tns:Result"/>
  </wsdl:message>

  <wsdl:message name="ResultApiSoapOut">
    <wsdl:part name="parameters" element="tns:TransactionResult"/>
  </wsdl:message>
  
  <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
  <wsdl:portType name="ResultApiSoapPort">
    <!-- The operation name must be the same as the one specified in the service object -->
    <wsdl:operation name="ResultApi">
      <wsdl:input message="tns:ResultApiSoapIn"/>
      <wsdl:output message="tns:ResultApiSoapOut"/>
    </wsdl:operation>
    
  </wsdl:portType>
  <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
  <wsdl:binding name="ResultApiServiceSoapBinding" type="tns:ResultApiSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ResultApi">
      <soap:operation soapAction="ResultApi" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
   
  </wsdl:binding>
  <wsdl:binding name="ResultApiServiceSoap12Binding" type="tns:ResultApiSoapPort">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ResultApi">
      <soap12:operation soapAction="ResultApi" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

  
  </wsdl:binding>
  <!-- SERVICE:  -->
  <wsdl:service name="ResultApiService">
    <wsdl:port name="ResultApiServiceSoapPort" binding="tns:ResultApiServiceSoapBinding">
      <soap:address location="http://localhost:8000/wsdl"/>
    </wsdl:port>
    <wsdl:port name="ResultApiServiceSoap12Port" binding="tns:ResultApiServiceSoap12Binding">
      <soap12:address location="http://localhost:8000/wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>